.img_news1{ height:200px; object-fit:cover; border-radius:12px; }
.img_news2{ height:202px; object-fit:cover; border-radius:12px; }
.img_news3{ height:201px; object-fit:cover; border-radius:12px; }
  